In [1]:
import pandas as pd
import numpy as np

## Data Preparation

In [25]:
#Preparing Data

dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

dataset_for_practicing_pandas =  pd.read_csv("test.csv")

## Selecting Columns

In [3]:
print("\n Select column as a list")
print(df['A'])

print("\n Select column as a dataframe")
print(df[['A']])

print("\n Select multiple columns 1")
print(df[['A','B']])

print("\n Select multiple columns 2")
columns= ['A', 'B','C']
print(df[columns])

print("\n Select all columns except B")
print(df.drop('B', 1))

 Select column as a list
2013-01-01    2.100384
2013-01-02    0.047651
2013-01-03    0.920200
2013-01-04   -0.277244
2013-01-05    0.181545
2013-01-06    0.661112
Freq: D, Name: A, dtype: float64

 Select column as a dataframe
                   A
2013-01-01  2.100384
2013-01-02  0.047651
2013-01-03  0.920200
2013-01-04 -0.277244
2013-01-05  0.181545
2013-01-06  0.661112

 Select multiple columns 1
                   A         B
2013-01-01  2.100384  2.892242
2013-01-02  0.047651 -0.005825
2013-01-03  0.920200 -0.839150
2013-01-04 -0.277244  0.009998
2013-01-05  0.181545 -2.202761
2013-01-06  0.661112  0.075735

 Select multiple columns 2
                   A         B         C
2013-01-01  2.100384  2.892242 -0.269546
2013-01-02  0.047651 -0.005825  0.078604
2013-01-03  0.920200 -0.839150 -0.059657
2013-01-04 -0.277244  0.009998  0.579357
2013-01-05  0.181545 -2.202761 -0.335074
2013-01-06  0.661112  0.075735  1.656822

 Select all columns except B
                   A         C         D
2013-01-01  2.100384 -0.269546  1.258193
2013-01-02  0.047651  0.078604  0.090233
2013-01-03  0.920200 -0.059657 -0.635759
2013-01-04 -0.277244  0.579357  0.504475
2013-01-05  0.181545 -0.335074  1.738137
2013-01-06  0.661112  1.656822 -0.273589

## Filter rows

In [4]:
print("\n Filter rows having A value less than 0")
print(df[df['A']<0])

print("\n Filter rows having A value less than 0 and greater than -1")
print(df[(df['A']<0) & (df['A']>-1)])

 Filter rows having A value less than 0
                   A         B         C         D
2013-01-04 -0.277244  0.009998  0.579357  0.504475

 Filter rows having A value less than 0 and greater than -1
                   A         B         C         D
2013-01-04 -0.277244  0.009998  0.579357  0.504475

## Select Rows

* Use iloc for selecting rows by row numbers
* Use loc for selecting data by label or by a conditional statment (.loc)

### Selecting rows by row numbers

In [5]:
df

                   A         B         C         D
2013-01-01  2.100384  2.892242 -0.269546  1.258193
2013-01-02  0.047651 -0.005825  0.078604  0.090233
2013-01-03  0.920200 -0.839150 -0.059657 -0.635759
2013-01-04 -0.277244  0.009998  0.579357  0.504475
2013-01-05  0.181545 -2.202761 -0.335074  1.738137
2013-01-06  0.661112  0.075735  1.656822 -0.273589

In [6]:
print("\n 3rd row as a series")
print(df.iloc[2])

print("\n Convert it to list if needed as follows")
print(type(df.iloc[2].tolist()))

print("\n 3rd column")
print(df.iloc[:,2])

print("\n 3rd row and 3rd column")
print(df.iloc[2,2])

print("\n Last Row")
print(df.iloc[-1])

print("\n Last column")
print(df.iloc[:,-1])

print("\n First and Third Row, Second and Fourth column")
print(df.iloc[[0,2],[1,3]])

 3rd row as a series
A    0.920200
B   -0.839150
C   -0.059657
D   -0.635759
Name: 2013-01-03 00:00:00, dtype: float64

 Convert it to list if needed as follows
<class 'list'>

 3rd column
2013-01-01   -0.269546
2013-01-02    0.078604
2013-01-03   -0.059657
2013-01-04    0.579357
2013-01-05   -0.335074
2013-01-06    1.656822
Freq: D, Name: C, dtype: float64

 3rd row and 3rd column
-0.0596566766755

 Last Row
A    0.661112
B    0.075735
C    1.656822
D   -0.273589
Name: 2013-01-06 00:00:00, dtype: float64

 Last column
2013-01-01    1.258193
2013-01-02    0.090233
2013-01-03   -0.635759
2013-01-04    0.504475
2013-01-05    1.738137
2013-01-06   -0.273589
Freq: D, Name: D, dtype: float64

 First and Third Row, Second and Fourth column
                   B         D
2013-01-01  2.892242  1.258193
2013-01-03 -0.839150 -0.635759

### Selecting rows by label name or by conditions

In [7]:
print("\n Select rows by label name 2013-01-01 ")
print(df.loc['2013-01-01'])

print("\n Select rows by condition")
print(df.loc[df['A']<0])

print("\n Select A and C column by condition")
print(df.loc[df['A']<0, ['A', 'C']])

 Select rows by label name 2013-01-01
A    2.100384
B    2.892242
C   -0.269546
D    1.258193
Name: 2013-01-01 00:00:00, dtype: float64

 Select rows by condition
                   A         B         C         D
2013-01-04 -0.277244  0.009998  0.579357  0.504475

 Select A and C column by condition
                   A         C
2013-01-04 -0.277244  0.579357

## Handling Missing Data

In [8]:
print("\n Count number of NAs in dataframe")
df.isna().sum()

print("\n Count number of NAs in column A")
df['A'].isna().sum()

print("\n Drop any rows which have NAs")
df.dropna(how='any')

print("\n Fill all NAs with a value")
df.fillna(value=5)

print("\n Fill all NAs with a mean of column")
df.fillna(df.mean())

 Count number of NAs in dataframe

 Count number of NAs in column A

 Drop any rows which have NAs

 Fill all NAs with a value

 Fill all NAs with a mean of column

                   A         B         C         D
2013-01-01  2.100384  2.892242 -0.269546  1.258193
2013-01-02  0.047651 -0.005825  0.078604  0.090233
2013-01-03  0.920200 -0.839150 -0.059657 -0.635759
2013-01-04 -0.277244  0.009998  0.579357  0.504475
2013-01-05  0.181545 -2.202761 -0.335074  1.738137
2013-01-06  0.661112  0.075735  1.656822 -0.273589

## Apply function

In [17]:
print("Apply function to column in dataframe")

def addOneToValue(x):
    return x+1

def isAMax(x):
    if max(x['A'], x['B'], x['C'], x['D']) == x['A']:
        return 'A'
    elif max(x['A'], x['B'], x['C'], x['D']) == x['B']:
        return 'B'
    elif max(x['A'], x['B'], x['C'], x['D']) == x['C']:
        return 'C'
    elif max(x['A'], x['B'], x['C'], x['D']) == x['D']:
        return 'D'    

df['newA'] = df['A'].apply(addOneToValue)
print(df)

print("The same thing can be done using lambda expressions")
df['newA'] = df['A'].apply(lambda x: x+1)
print(df)

print("Add one only when A value is less than 0")
df['newA'] = df['A'].apply(lambda x:x+1 if x<0 else x)
print(df)

df['newA'] = df['A'] + 2*df['B']
print(df)

df['maxColumn'] = df.apply(isAMax, axis=1)
print(df)

Apply function to column in dataframe
                   A         B         C         D      newA isMaxA
2013-01-01  2.100384  2.892242 -0.269546  1.258193  3.100384      B
2013-01-02  0.047651 -0.005825  0.078604  0.090233  1.047651      D
2013-01-03  0.920200 -0.839150 -0.059657 -0.635759  1.920200      A
2013-01-04 -0.277244  0.009998  0.579357  0.504475  0.722756      C
2013-01-05  0.181545 -2.202761 -0.335074  1.738137  1.181545      D
2013-01-06  0.661112  0.075735  1.656822 -0.273589  1.661112      C
The same thing can be done using lambda expressions
                   A         B         C         D      newA isMaxA
2013-01-01  2.100384  2.892242 -0.269546  1.258193  3.100384      B
2013-01-02  0.047651 -0.005825  0.078604  0.090233  1.047651      D
2013-01-03  0.920200 -0.839150 -0.059657 -0.635759  1.920200      A
2013-01-04 -0.277244  0.009998  0.579357  0.504475  0.722756      C
2013-01-05  0.181545 -2.202761 -0.335074  1.738137  1.181545      D
2013-01-06  0.661112  0.075735  1.656822 -0.273589  1.661112      C
Add one only when A value is less than 0
                   A         B         C         D      newA isMaxA
2013-01-01  2.100384  2.892242 -0.269546  1.258193  2.100384      B
2013-01-02  0.047651 -0.005825  0.078604  0.090233  0.047651      D
2013-01-03  0.920200 -0.839150 -0.059657 -0.635759  0.920200      A
2013-01-04 -0.277244  0.009998  0.579357  0.504475  0.722756      C
2013-01-05  0.181545 -2.202761 -0.335074  1.738137  0.181545      D
2013-01-06  0.661112  0.075735  1.656822 -0.273589  0.661112      C
                   A         B         C         D      newA isMaxA
2013-01-01  2.100384  2.892242 -0.269546  1.258193  7.884869      B
2013-01-02  0.047651 -0.005825  0.078604  0.090233  0.036002      D
2013-01-03  0.920200 -0.839150 -0.059657 -0.635759 -0.758101      A
2013-01-04 -0.277244  0.009998  0.579357  0.504475 -0.257249      C
2013-01-05  0.181545 -2.202761 -0.335074  1.738137 -4.223976      D
2013-01-06  0.661112  0.075735  1.656822 -0.273589  0.812582      C
                   A         B         C         D      newA isMaxA maxColumn
2013-01-01  2.100384  2.892242 -0.269546  1.258193  7.884869      B         B
2013-01-02  0.047651 -0.005825  0.078604  0.090233  0.036002      D         D
2013-01-03  0.920200 -0.839150 -0.059657 -0.635759 -0.758101      A         A
2013-01-04 -0.277244  0.009998  0.579357  0.504475 -0.257249      C         C
2013-01-05  0.181545 -2.202761 -0.335074  1.738137 -4.223976      D         D
2013-01-06  0.661112  0.075735  1.656822 -0.273589  0.812582      C         C

 apply works on a row / column basis of a DataFrame, applymap works element-wise on a DataFrame, and map works element-wise on a Series.

* apply works on a row or column basis of a DataFrame, 
* applymap works element-wise on a DataFrame
* map works element-wise on a Series.

## Arrange

In [24]:
print("\n Sort dataframe by values of A ")
print(df.sort_values(['isMaxA', 'A']))

print("\n Sort dataframe by values of maxColumn and A")
print(df.sort_values(['maxColumn', 'A']))

print("\n Sort dataframe by values of A in descending order")
print(df.sort_values(['maxColumn', 'A'], ascending=False))

 Sort dataframe by values of A
                   A         B         C         D      newA isMaxA maxColumn
2013-01-03  0.920200 -0.839150 -0.059657 -0.635759 -0.758101      A         A
2013-01-01  2.100384  2.892242 -0.269546  1.258193  7.884869      B         B
2013-01-04 -0.277244  0.009998  0.579357  0.504475 -0.257249      C         C
2013-01-06  0.661112  0.075735  1.656822 -0.273589  0.812582      C         C
2013-01-02  0.047651 -0.005825  0.078604  0.090233  0.036002      D         D
2013-01-05  0.181545 -2.202761 -0.335074  1.738137 -4.223976      D         D

 Sort dataframe by values of maxColumn and A
                   A         B         C         D      newA isMaxA maxColumn
2013-01-03  0.920200 -0.839150 -0.059657 -0.635759 -0.758101      A         A
2013-01-01  2.100384  2.892242 -0.269546  1.258193  7.884869      B         B
2013-01-04 -0.277244  0.009998  0.579357  0.504475 -0.257249      C         C
2013-01-06  0.661112  0.075735  1.656822 -0.273589  0.812582      C         C
2013-01-02  0.047651 -0.005825  0.078604  0.090233  0.036002      D         D
2013-01-05  0.181545 -2.202761 -0.335074  1.738137 -4.223976      D         D

 Sort dataframe by values of A in descending order
                   A         B         C         D      newA isMaxA maxColumn
2013-01-05  0.181545 -2.202761 -0.335074  1.738137 -4.223976      D         D
2013-01-02  0.047651 -0.005825  0.078604  0.090233  0.036002      D         D
2013-01-06  0.661112  0.075735  1.656822 -0.273589  0.812582      C         C
2013-01-04 -0.277244  0.009998  0.579357  0.504475 -0.257249      C         C
2013-01-01  2.100384  2.892242 -0.269546  1.258193  7.884869      B         B
2013-01-03  0.920200 -0.839150 -0.059657 -0.635759 -0.758101      A         A

In [26]:
dataset_for_practicing_pandas.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

## Summarising dataframe

In [38]:
print("\n How many rows the dataset")
print(len(dataset_for_practicing_pandas))

print("\n What was the longest phone call / data entry?")
print(dataset_for_practicing_pandas['duration'].max())

print("\n How many seconds of phone calls are recorded in total?")
print(dataset_for_practicing_pandas['duration'].sum())

print("\n How many entries are there for each month?")
print(dataset_for_practicing_pandas['month'].value_counts())

print("\n Number of non-null unique network entries")
print(dataset_for_practicing_pandas['network'].nunique())

 How many rows the dataset
830

 What was the longest phone call / data entry?
10528.0

 How many seconds of phone calls are recorded in total?
97777.35

 How many entries are there for each month?
2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64

 Number of non-null unique network entries
9

## Group-by

In [54]:

# Get the first entry for each month
dataset_for_practicing_pandas.groupby('month').first()

# Get the sum of the durations per month
dataset_for_practicing_pandas.groupby('month')['duration'].sum()

# Get the number of dates / entries in each month
dataset_for_practicing_pandas.groupby('month')['date'].count()
# What is the sum of durations, for calls only, to each network
dataset_for_practicing_pandas[dataset_for_practicing_pandas['item']== 'call'].groupby('network')['duration'].sum()

# How many calls, sms, and data entries are in each month?
dataset_for_practicing_pandas.groupby(['month', 'item'])['date'].count()

# How many calls, texts, and data are sent per month, split by network_type?
dataset_for_practicing_pandas.groupby(['month', 'network_type'])['date'].count()


# Group the data frame by month and item and extract a number of stats from each group
dataset_for_practicing_pandas.groupby(['month', 'network_type'])

month    network_type
2014-11  data             29
         landline          5
         mobile          189
         special           1
         voicemail         6
2014-12  data             30
         landline          7
         mobile          108
         voicemail         8
         world             4
2015-01  data             31
         landline         11
         mobile          160
         voicemail         3
2015-02  data             31
         landline          8
         mobile           90
         special           2
         voicemail         6
2015-03  data             29
         landline         11
         mobile           54
         voicemail         4
         world             3
Name: date, dtype: int64

### Applying a single function to columns in groups

In [61]:
print("\n Group the data frame by month and item and extract a number of stats from each group")

dataset_for_practicing_pandas.groupby(['month', 'item']).agg({'duration' :  sum,
                                                                    'network' : "count",
                                                                    'network_type' : "first"
                                                                   })

 Group the data frame by month and item and extract a number of stats from each group

              network network_type   duration
month   item
2014-11 call      107       mobile  25547.000
        data       29         data    998.441
        sms        94       mobile     94.000
2014-12 call       79    voicemail  13561.000
        data       30         data   1032.870
        sms        48       mobile     48.000
2015-01 call       88       mobile  17070.000
        data       31         data   1067.299
        sms        86       mobile     86.000
2015-02 call       67       mobile  14416.000
        data       31         data   1067.299
        sms        39      special     39.000
2015-03 call       47     landline  21727.000
        data       29         data    998.441
        sms        25       mobile     25.000

In [13]:
# Joins

In [14]:
# Reshape( Widening and Narrowing)