In [1]:
import pandas as pd
import numpy as np

## Data Preparation

In [2]:
#Preparing Data

dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

dataset_for_practicing_pandas =  pd.read_csv("test.csv")

## Selecting Columns

In [3]:
print("\n Select column as a list")
print(df['A'])

print("\n Select column as a dataframe")
print(df[['A']])

print("\n Select multiple columns 1")
print(df[['A','B']])

print("\n Select multiple columns 2")
columns= ['A', 'B','C']
print(df[columns])

print("\n Select all columns except B")
print(df.drop('B', 1))

 Select column as a list
2013-01-01   -0.628888
2013-01-02   -1.027809
2013-01-03   -0.232528
2013-01-04   -1.646279
2013-01-05    1.072148
2013-01-06   -1.897596
Freq: D, Name: A, dtype: float64

 Select column as a dataframe
                   A
2013-01-01 -0.628888
2013-01-02 -1.027809
2013-01-03 -0.232528
2013-01-04 -1.646279
2013-01-05  1.072148
2013-01-06 -1.897596

 Select multiple columns 1
                   A         B
2013-01-01 -0.628888 -0.383440
2013-01-02 -1.027809  1.279783
2013-01-03 -0.232528 -0.419770
2013-01-04 -1.646279  2.518328
2013-01-05  1.072148  1.295790
2013-01-06 -1.897596 -0.128020

 Select multiple columns 2
                   A         B         C
2013-01-01 -0.628888 -0.383440 -1.392663
2013-01-02 -1.027809  1.279783 -0.771028
2013-01-03 -0.232528 -0.419770  1.104767
2013-01-04 -1.646279  2.518328  1.403536
2013-01-05  1.072148  1.295790  0.378959
2013-01-06 -1.897596 -0.128020  1.224887

 Select all columns except B
                   A         C         D
2013-01-01 -0.628888 -1.392663 -0.883223
2013-01-02 -1.027809 -0.771028 -0.242281
2013-01-03 -0.232528  1.104767 -0.503261
2013-01-04 -1.646279  1.403536  0.463937
2013-01-05  1.072148  0.378959  0.694711
2013-01-06 -1.897596  1.224887  0.254035

## Filter rows

In [4]:
print("\n Filter rows having A value less than 0")
print(df[df['A']<0])

print("\n Filter rows having A value less than 0 and greater than -1")
print(df[(df['A']<0) & (df['A']>-1)])

 Filter rows having A value less than 0
                   A         B         C         D
2013-01-01 -0.628888 -0.383440 -1.392663 -0.883223
2013-01-02 -1.027809  1.279783 -0.771028 -0.242281
2013-01-03 -0.232528 -0.419770  1.104767 -0.503261
2013-01-04 -1.646279  2.518328  1.403536  0.463937
2013-01-06 -1.897596 -0.128020  1.224887  0.254035

 Filter rows having A value less than 0 and greater than -1
                   A        B         C         D
2013-01-01 -0.628888 -0.38344 -1.392663 -0.883223
2013-01-03 -0.232528 -0.41977  1.104767 -0.503261

## Select Rows

* Use iloc for selecting rows by row numbers
* Use loc for selecting data by label or by a conditional statment (.loc)

### Selecting rows by row numbers

In [5]:
df

                   A         B         C         D
2013-01-01 -0.628888 -0.383440 -1.392663 -0.883223
2013-01-02 -1.027809  1.279783 -0.771028 -0.242281
2013-01-03 -0.232528 -0.419770  1.104767 -0.503261
2013-01-04 -1.646279  2.518328  1.403536  0.463937
2013-01-05  1.072148  1.295790  0.378959  0.694711
2013-01-06 -1.897596 -0.128020  1.224887  0.254035

In [6]:
print("\n 3rd row as a series")
print(df.iloc[2])

print("\n Convert it to list if needed as follows")
print(type(df.iloc[2].tolist()))

print("\n 3rd column")
print(df.iloc[:,2])

print("\n 3rd row and 3rd column")
print(df.iloc[2,2])

print("\n Last Row")
print(df.iloc[-1])

print("\n Last column")
print(df.iloc[:,-1])

print("\n First and Third Row, Second and Fourth column")
print(df.iloc[[0,2],[1,3]])

 3rd row as a series
A   -0.232528
B   -0.419770
C    1.104767
D   -0.503261
Name: 2013-01-03 00:00:00, dtype: float64

 Convert it to list if needed as follows
<class 'list'>

 3rd column
2013-01-01   -1.392663
2013-01-02   -0.771028
2013-01-03    1.104767
2013-01-04    1.403536
2013-01-05    0.378959
2013-01-06    1.224887
Freq: D, Name: C, dtype: float64

 3rd row and 3rd column
1.10476697919

 Last Row
A   -1.897596
B   -0.128020
C    1.224887
D    0.254035
Name: 2013-01-06 00:00:00, dtype: float64

 Last column
2013-01-01   -0.883223
2013-01-02   -0.242281
2013-01-03   -0.503261
2013-01-04    0.463937
2013-01-05    0.694711
2013-01-06    0.254035
Freq: D, Name: D, dtype: float64

 First and Third Row, Second and Fourth column
                  B         D
2013-01-01 -0.38344 -0.883223
2013-01-03 -0.41977 -0.503261

### Selecting rows by label name or by conditions

In [7]:
print("\n Select rows by label name 2013-01-01 ")
print(df.loc['2013-01-01'])

print("\n Select rows by condition")
print(df.loc[df['A']<0])

print("\n Select A and C column by condition")
print(df.loc[df['A']<0, ['A', 'C']])

 Select rows by label name 2013-01-01
A   -0.628888
B   -0.383440
C   -1.392663
D   -0.883223
Name: 2013-01-01 00:00:00, dtype: float64

 Select rows by condition
                   A         B         C         D
2013-01-01 -0.628888 -0.383440 -1.392663 -0.883223
2013-01-02 -1.027809  1.279783 -0.771028 -0.242281
2013-01-03 -0.232528 -0.419770  1.104767 -0.503261
2013-01-04 -1.646279  2.518328  1.403536  0.463937
2013-01-06 -1.897596 -0.128020  1.224887  0.254035

 Select A and C column by condition
                   A         C
2013-01-01 -0.628888 -1.392663
2013-01-02 -1.027809 -0.771028
2013-01-03 -0.232528  1.104767
2013-01-04 -1.646279  1.403536
2013-01-06 -1.897596  1.224887

## Handling Missing Data

In [11]:
print("\n Count number of NAs in dataframe")
df.isnull().sum()

print("\n Count number of NAs in column A")
df['A'].isnull().sum()

print("\n Drop any rows which have NAs")
df.dropna(how='any')

print("\n Fill all NAs with a value")
df.fillna(value=5)

print("\n Fill all NAs with a mean of column")
df.fillna(df.mean())

 Count number of NAs in dataframe

 Count number of NAs in column A

 Drop any rows which have NAs

 Fill all NAs with a value

 Fill all NAs with a mean of column

                   A         B         C         D
2013-01-01 -0.628888 -0.383440 -1.392663 -0.883223
2013-01-02 -1.027809  1.279783 -0.771028 -0.242281
2013-01-03 -0.232528 -0.419770  1.104767 -0.503261
2013-01-04 -1.646279  2.518328  1.403536  0.463937
2013-01-05  1.072148  1.295790  0.378959  0.694711
2013-01-06 -1.897596 -0.128020  1.224887  0.254035

## Apply function

In [12]:
print("Apply function to column in dataframe")

def addOneToValue(x):
    return x+1

def isAMax(x):
    if max(x['A'], x['B'], x['C'], x['D']) == x['A']:
        return 'A'
    elif max(x['A'], x['B'], x['C'], x['D']) == x['B']:
        return 'B'
    elif max(x['A'], x['B'], x['C'], x['D']) == x['C']:
        return 'C'
    elif max(x['A'], x['B'], x['C'], x['D']) == x['D']:
        return 'D'    

df['newA'] = df['A'].apply(addOneToValue)
print(df)

print("The same thing can be done using lambda expressions")
df['newA'] = df['A'].apply(lambda x: x+1)
print(df)

print("Add one only when A value is less than 0")
df['newA'] = df['A'].apply(lambda x:x+1 if x<0 else x)
print(df)

df['newA'] = df['A'] + 2*df['B']
print(df)

df['maxColumn'] = df.apply(isAMax, axis=1)
print(df)

Apply function to column in dataframe
                   A         B         C         D      newA
2013-01-01 -0.628888 -0.383440 -1.392663 -0.883223  0.371112
2013-01-02 -1.027809  1.279783 -0.771028 -0.242281 -0.027809
2013-01-03 -0.232528 -0.419770  1.104767 -0.503261  0.767472
2013-01-04 -1.646279  2.518328  1.403536  0.463937 -0.646279
2013-01-05  1.072148  1.295790  0.378959  0.694711  2.072148
2013-01-06 -1.897596 -0.128020  1.224887  0.254035 -0.897596
The same thing can be done using lambda expressions
                   A         B         C         D      newA
2013-01-01 -0.628888 -0.383440 -1.392663 -0.883223  0.371112
2013-01-02 -1.027809  1.279783 -0.771028 -0.242281 -0.027809
2013-01-03 -0.232528 -0.419770  1.104767 -0.503261  0.767472
2013-01-04 -1.646279  2.518328  1.403536  0.463937 -0.646279
2013-01-05  1.072148  1.295790  0.378959  0.694711  2.072148
2013-01-06 -1.897596 -0.128020  1.224887  0.254035 -0.897596
Add one only when A value is less than 0
                   A         B         C         D      newA
2013-01-01 -0.628888 -0.383440 -1.392663 -0.883223  0.371112
2013-01-02 -1.027809  1.279783 -0.771028 -0.242281 -0.027809
2013-01-03 -0.232528 -0.419770  1.104767 -0.503261  0.767472
2013-01-04 -1.646279  2.518328  1.403536  0.463937 -0.646279
2013-01-05  1.072148  1.295790  0.378959  0.694711  1.072148
2013-01-06 -1.897596 -0.128020  1.224887  0.254035 -0.897596
                   A         B         C         D      newA
2013-01-01 -0.628888 -0.383440 -1.392663 -0.883223 -1.395767
2013-01-02 -1.027809  1.279783 -0.771028 -0.242281  1.531757
2013-01-03 -0.232528 -0.419770  1.104767 -0.503261 -1.072069
2013-01-04 -1.646279  2.518328  1.403536  0.463937  3.390377
2013-01-05  1.072148  1.295790  0.378959  0.694711  3.663728
2013-01-06 -1.897596 -0.128020  1.224887  0.254035 -2.153636
                   A         B         C         D      newA maxColumn
2013-01-01 -0.628888 -0.383440 -1.392663 -0.883223 -1.395767         B
2013-01-02 -1.027809  1.279783 -0.771028 -0.242281  1.531757         B
2013-01-03 -0.232528 -0.419770  1.104767 -0.503261 -1.072069         C
2013-01-04 -1.646279  2.518328  1.403536  0.463937  3.390377         B
2013-01-05  1.072148  1.295790  0.378959  0.694711  3.663728         B
2013-01-06 -1.897596 -0.128020  1.224887  0.254035 -2.153636         C

* apply works on a row or column basis of a DataFrame, 
* applymap works element-wise on a DataFrame
* map works element-wise on a Series.

## Arrange

In [16]:
print("\n Sort dataframe by values of A ")
print(df.sort_values(['A']))

print("\n Sort dataframe by values of maxColumn and A")
print(df.sort_values(['maxColumn', 'A']))

print("\n Sort dataframe by values of A in descending order")
print(df.sort_values(['maxColumn', 'A'], ascending=False))

 Sort dataframe by values of A
                   A         B         C         D      newA maxColumn
2013-01-06 -1.897596 -0.128020  1.224887  0.254035 -2.153636         C
2013-01-04 -1.646279  2.518328  1.403536  0.463937  3.390377         B
2013-01-02 -1.027809  1.279783 -0.771028 -0.242281  1.531757         B
2013-01-01 -0.628888 -0.383440 -1.392663 -0.883223 -1.395767         B
2013-01-03 -0.232528 -0.419770  1.104767 -0.503261 -1.072069         C
2013-01-05  1.072148  1.295790  0.378959  0.694711  3.663728         B

 Sort dataframe by values of maxColumn and A
                   A         B         C         D      newA maxColumn
2013-01-04 -1.646279  2.518328  1.403536  0.463937  3.390377         B
2013-01-02 -1.027809  1.279783 -0.771028 -0.242281  1.531757         B
2013-01-01 -0.628888 -0.383440 -1.392663 -0.883223 -1.395767         B
2013-01-05  1.072148  1.295790  0.378959  0.694711  3.663728         B
2013-01-06 -1.897596 -0.128020  1.224887  0.254035 -2.153636         C
2013-01-03 -0.232528 -0.419770  1.104767 -0.503261 -1.072069         C

 Sort dataframe by values of A in descending order
                   A         B         C         D      newA maxColumn
2013-01-03 -0.232528 -0.419770  1.104767 -0.503261 -1.072069         C
2013-01-06 -1.897596 -0.128020  1.224887  0.254035 -2.153636         C
2013-01-05  1.072148  1.295790  0.378959  0.694711  3.663728         B
2013-01-01 -0.628888 -0.383440 -1.392663 -0.883223 -1.395767         B
2013-01-02 -1.027809  1.279783 -0.771028 -0.242281  1.531757         B
2013-01-04 -1.646279  2.518328  1.403536  0.463937  3.390377         B

In [17]:
dataset_for_practicing_pandas.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

## Summarising dataframe

In [18]:
print("\n How many rows the dataset")
print(len(dataset_for_practicing_pandas))

print("\n What was the longest phone call / data entry?")
print(dataset_for_practicing_pandas['duration'].max())

print("\n How many seconds of phone calls are recorded in total?")
print(dataset_for_practicing_pandas['duration'].sum())

print("\n How many entries are there for each month?")
print(dataset_for_practicing_pandas['month'].value_counts())

print("\n Number of non-null unique network entries")
print(dataset_for_practicing_pandas['network'].nunique())

 How many rows the dataset
830

 What was the longest phone call / data entry?
10528.0

 How many seconds of phone calls are recorded in total?
97777.34999999998

 How many entries are there for each month?
2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64

 Number of non-null unique network entries
9

## Group-by

In [19]:

# Get the first entry for each month
dataset_for_practicing_pandas.groupby('month').first()

# Get the sum of the durations per month
dataset_for_practicing_pandas.groupby('month')['duration'].sum()

# Get the number of dates / entries in each month
dataset_for_practicing_pandas.groupby('month')['date'].count()
# What is the sum of durations, for calls only, to each network
dataset_for_practicing_pandas[dataset_for_practicing_pandas['item']== 'call'].groupby('network')['duration'].sum()

# How many calls, sms, and data entries are in each month?
dataset_for_practicing_pandas.groupby(['month', 'item'])['date'].count()

# How many calls, texts, and data are sent per month, split by network_type?
dataset_for_practicing_pandas.groupby(['month', 'network_type'])['date'].count()


# Group the data frame by month and item and extract a number of stats from each group
dataset_for_practicing_pandas.groupby(['month', 'network_type'])

### Applying a single function to columns in groups

In [ ]:
print("\n Group the data frame by month and item and extract a number of stats from each group")

dataset_for_practicing_pandas.groupby(['month', 'item']).agg({'duration' :  sum,
                                                                    'network' : "count",
                                                                    'network_type' : "first"
                                                                   })

In [ ]:
# Joins

In [ ]:
# Reshape( Widening and Narrowing)